<div class="fallout-maw-global-map-form">
  <div class="form-group">
    <label>Изображение группы</label>
    <div class="form-fields">
      <file-picker name="image" value="{{image}}" type="image"></file-picker>
    </div>
    <p class="hint">Используется для временного актёра и токена путешествующей группы.</p>
  </div>
  <footer class="form-footer">
    <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Сохранить</button>
  </footer>
</div>
